<section class="profile">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card text-center sidebar">
              <div class="text-center">
                <img
                  alt="Busara Logo"
                  src="./assets/images/Busara.png"
                  class="rounded"
                  width="200"
                />
              </div>
              <div class="mt-3">
                <h3>{{userDetails.first_name}} {{userDetails.last_name}}</h3>
            
              </div>
            </div>
          </div>
          <div class="col-md-8 mt-1 text-center">
            <div class="card mb-3 content">
              <h1>Profile</h1>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <h5>Full Name</h5>
                  </div>
                  <div class="col-md-9 text secondary">{{userDetails.first_name}} {{userDetails.last_name}}</div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-md-3">
                    <h5>Email</h5>
                  </div>
                  <div class="col-md-9 text-secondary">{{userDetails.email}}</div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-md-3">
                    <h5>Phone Number</h5>
                  </div>
                  <div class="col-md-9 text-secondary">{{userDetails.phone_number}}</div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                    <h5>Device Detail</h5>
                  </div>
                  <div class="col-md-9 text-secondary">{{userDetails.device_details}}</div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                    <h5>User Staus</h5>
                  </div>
                  <div class="col-md-9 text-secondary">{{userDetails.is_active}}</div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                    <h5>User ID</h5>
                  </div>
                  <div class="col-md-9 text-secondary">{{userDetails.id}}</div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                    <h5>User Groups</h5>
                  </div>
                  <div class="col-md-9 text-secondary">{{userDetails.groups}}</div>
                </div>
                
              </div>
            </div>
      
          </div>
        </div>
      </div>
</section>

